/**
 * Components
 * Anything reusable such as buttons, navbars, cards etc.
 */

/**
 * Parallax
 */
.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.parallax header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    background: linear-gradient(
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.9)
    );
}

.parallax .background {
    transform: translateZ(-15px) scale(2.5);
}

.parallax .middleground {
    transform: translateZ(-10px) scale(2);
}

.parallax .foreground {
    transform: translateZ(-5px) scale(1.5);
    filter: brightness(50%);
}

.parallax .background,
.parallax .middleground,
.parallax .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/**
 * Hero
 */
.hero__image {
    filter: opacity(30%) brightness(150%) grayscale(50%);
}

.hero__caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

/**
 * Other
 */
.scout-group {
    > div {
        min-height: 286px;
    }
}

.scarf:hover {
    filter: brightness(90%);
}

#social-links {
    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 0.7rem;
            padding: 0.7rem;
            display: inline-flex;
        }
    }
}

/**
 * Hide some pagination items on mobile
 */
@media screen and (max-width: 575px) {
    li.page-item {
        display: none;
    }

    .page-item:first-child,
    .page-item:last-child,
    .page-item:nth-child(2),
    .page-item:nth-last-child(2),
    .page-item:nth-child(3),
    .page-item:nth-last-child(3),
    .page-item.active,
    .page-item.disabled {
        display: block;
    }
}

@media screen and (min-width: 400px) {
    // Note: there is currently no browser support for this rule yet
    li.page-item:has(+ .active) {
        display: block;
    }
    .page-item.active + li {
        display: block;
    }
}
