/**
 * Components
 * Anything reusable such as buttons, navbars, cards etc.
 */

.parallax-header {
    background: #000;
    background: linear-gradient(
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.9)
    ), url('/images/banner1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    padding-top: 10vh;
}

.scout-group {
    > div {
        min-height: 286px;
    }
}

#social-links {
    ul {
        list-style: none;

        li {
            margin: 0.7rem;
            padding: 0.7rem;
            display: inline-flex;
        }
    }
}

/**
 * Hide some pagination items on mobile
 */
@media screen and (max-width: 575px) {
    li.page-item {
        display: none;
    }

    .page-item:first-child,
    .page-item:last-child,
    .page-item:nth-child(2),
    .page-item:nth-last-child(2),
    .page-item:nth-child(3),
    .page-item:nth-last-child(3),
    .page-item.active,
    .page-item.disabled {
        display: block;
    }
}

@media screen and (min-width: 400px) {
    // Note: there is currently no browser support for this rule yet
    li.page-item:has(+ .active) {
        display: block;
    }
    .page-item.active + li {
        display: block;
    }
}
